<div class="container">
  <div class="content">
    <div class="row">
      <div class="col">
        <div class="heding">
          <h3 class="card-title text-center">Add Mark</h3>
        </div>
        <section style="background-color: #eee;" class="sec">
          <div class="card login-form">
            <div class="card-body">

              <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

              <div class="card-text">
                <form>
                  <div class="mb-3">
                    <label for="designatin" class="form-label">Select Student</label>
                    <select class="form-select" aria-label="Default select example">
                      <option selected>...select</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="row">
                      <div class="col"> <h6>Subject</h6></div>
                      <div class="col"><h6>Mark </h6></div>
                      <div class="col"><h6>Max Marks</h6></div>
                      <hr>
                  </div>
                  <div class="row">
                    <div class="col"> <input type="text"></div>
                    <div class="col"><input type="number"></div>
                    <div class="col"><input type="number" ></div>
                </div>

                  <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
                </form>
              </div>
            </div>
          </div>


        </section>

      </div>

    </div>
  </div>
</div>
