




<div class="container "  ><br>

  <section style="background-color: #eee;" class="sec">
    <div class="card login-form">
      <div class="card-body">
        <h3 class="card-title text-center">Apply leave</h3>

        <!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->

        <div class="card-text">

      <form class="app">
        <div class="mb-3">
          <label for="exampleInputClass" class="form-label">From</label>
          <input type="Date" class="form-control" id="inputClass" >

        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">To</label>
          <input type="Date" class="form-control" id="inputStrength">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Reason</label>
         <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

        </div>
      </div>
    </div>


  </section>

</div>

