<div class="container">
  <div>
    <h3 style="text-align: center;">Student Details</h3>
  </div>
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Sl No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">DOB </th>
        <th scope="col">Gender </th>
        <th scope="col">Phone </th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
  </table>
</div>
