<div class="container">
  <div class="row">
    <h3 style="text-align: center;">Leave Applictaions</h3>
    <hr>

  </div>

  <div class="row">

    <table class="table table-dark table-striped-columns "  style="width: 80%; margin:20px;padding:20px">

      <thead>
        <tr>
          <th>sl No</th>
          <th>Student Name</th>
          <th>From date</th>
          <th>To date</th>
          <th>Reason </th>
          <th> Approve </th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Student Name</td>
          <td>From date</td>
          <td>To date</td>
          <td>Reason </td>
          <td> <button class="btn btn-info">Approve</button> </td>
        </tr>
        <tr>
          <td>1</td>
          <td>Student Name</td>
          <td>From date</td>
          <td>To date</td>
          <td>Reason </td>
          <td> <button class="btn btn-info">Approve</button> </td>
        </tr>
      </tbody>
    </table>
  </div>




</div>
