
<div class="container">
  <h1> Assign Class Teacher</h1>
  <form>
    <div class="mb-3">
      <label for="exampleInputClass" class="form-label">Select Class </label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">VII</mat-option>
          <mat-option value="two">VIII</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Select Teacher</label>
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">VII</mat-option>
          <mat-option value="two">VIII</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
