
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Subject</th>
        <th scope="col">Mrks Scored</th>
        <th scope="col">Maximum Marks</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>

      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>

      </tr>
    </tbody>
  </table>
</div>


